<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIPAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SIPAgent.Properties.Settings>
            <setting name="cfgAccountEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfgAccountIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgAccountName" serializeAs="String">
                <value>1019</value>
            </setting>
            <setting name="cfgAccountAddress" serializeAs="String">
                <value>10.10.10.1:5070</value>
            </setting>
            <setting name="cfgAccountID" serializeAs="String">
                <value>1019</value>
            </setting>
            <setting name="cfgAccountUsername" serializeAs="String">
                <value>1019</value>
            </setting>
            <setting name="cfgAccountPassword" serializeAs="String">
                <value>it-sfera.fs</value>
            </setting>
            <setting name="cfgAccountDisplayName" serializeAs="String">
                <value>1019</value>
            </setting>
            <setting name="cfgAccountDomain" serializeAs="String">
                <value>10.10.10.1</value>
            </setting>
            <setting name="cfgAccountState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgAccountProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgAccountTransport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgCFUFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFUNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgCFNRFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFNRNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgDNDFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgAAFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFBFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFBNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgSipPort" serializeAs="String">
                <value>5070</value>
            </setting>
            <setting name="cfgSipPublishEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgStunServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgDtmfMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgRegistrationTimeout" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="cfgECTail" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="cfgVAD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgNameServer" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgAccountDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestNumber" serializeAs="String">
                <value>1020</value>
            </setting>
            <setting name="SelectedPlaybackDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedRingDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedRecordingDevice" serializeAs="String">
                <value>0</value>
            </setting>
        </SIPAgent.Properties.Settings>
    </userSettings>
</configuration>